@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");



/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

$orange: #f3ba4f;
$purple: #6588de;
$bg: #e3f6fc;
$text: #52585d;
$green: #46d362;
$white-text: #fdfdfe;
$border: #96a9ba;


// RESET CSS

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// MAIN STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

li {
  list-style-type: none;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
// ASIDE HERE

.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;

  &__top {
    height: 100px;
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  &__username {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $text;
  }

  &__bottom {
    background: $bg;
    margin-top: 10px;
    padding: 24px 20px 0 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    overflow-y: auto;

    &-title {
      font-size: 18px;
      text-align: center;
      color: $purple;
      position: relative;
      max-width: 130px;
      margin: 0 auto;

      &:after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $green;
      }
    }

    &-list {
      padding-top: 20px;

      &-item {
        width: 310px;
        height: 34px;
        margin: 15px 0;
      }
    }

    &-user {
      &-name {
        font-size: 12px;
        font-weight: 600;
        line-height: 21px;
        color: $text;
      }
    }
  }
}

// DIALOG
.container {
  padding: 0 60px;
}

.main {
  margin-left: 260px;
}

.dialog {
  &__wrapper {
  }

  &__title {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $purple;
    border-radius: 14px;
    margin: 30px auto 0 auto;
    color: $white-text;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &__content {
    margin-top: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 5px 10px;
  }

  &__item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    align-self: flex-start;

    &-name {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $text;
    }

    &-message {
      padding: 16px 20px 10px 20px;
      margin-top: 10px;
      background: $bg;
      border-radius: 10px;
      word-wrap: break-word;

      &-text {
        max-width: 400px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $text;
        font-family: "Roboto", sans-serif;
      }

      &-flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 5px;
      }

      &-status {
        margin-right: 10px;
      }

      &-time {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: $purple;
        font-family: "Roboto", sans-serif;
      }
    }

    &-my {
      align-self: flex-end;
    }

    &-my &-name {
      text-align: right;
    }

    &-my &-message {
      background-color: $orange;

      &-time {
        color: $white-text;
      }
    }
  }
}

// SENDER

.sender {
  padding-bottom: 10px;

  &__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: $border 1px solid;
    border-radius: 15px;
    overflow: hidden;
  }

  &__input {
    padding: 11px 22px;
    width: 100%;

    input {
      border: none;
      outline: none;
      width: 100%;
    }
  }

  &__btn {
    width: 108px;
    background: $purple;
    min-height: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-left: 22px;
    color: $white-text;
    position: relative;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      right: 10px;
      width: 20px;
      height: 20px;
      background: url("../assets/Vector.png");
      transition: 0.3s all ease;
    }

    &:hover {
      opacity: 1;

      &:after {
        transform: translateX(5px);
        transition: 0.3s all ease;
      }
    }
  }
}

// LOGIN

.login {
  &__wrapper {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
  }

  &__content {
    width: 400px;
    height: 250px;
    background-color: $bg;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 20px 10px 20px;

    h1 {
      font-size: 18px;
      line-height: 21px;
      color: $text;
      text-align: center;
    }

    input {
      border: none;
      margin-top: 40px;
      padding: 10px;
      outline: none;
      border-radius: 10px;
    }

    button {
      border: none;
      background: #fff;
      border-radius: 10px;
      height: 30px;
      width: 200px;
      margin: 20px auto 0 auto;
      cursor: pointer;
      outline: none;
      transition: 0.3s all ease-in-out;

      &:hover {
        background: $purple;
        color: #fff;
      }
    }
  }
}

